*{
    margin: 0;
    padding: 0;
}
.main_menu{
    
}

.main_menu ul{
    list-style: none;
      color: #eded;
    margin-top: 20px;
    text-align: right;
}
.main_menu ul li{
    display: inline-block;
   border-right: 1px solid red;
    
}

.main_menu ul li a{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;  
    background-color: #eded;
    margin-right: -5px;
}
.main_menu ul li:last-child{
    border: none;
}
.main_menu ul li a:hover{
    background-color: chocolate;
    color: white;
    
}